<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../partials/header%>
    <header>
        <%- include ../partials/main_nav %>
    </header>
	</head>
    <style>
        /* Sample CSS for illustration purposes. Customize as needed */
        body {
            font-family: Arial, sans-serif;
            background-color: #e9e6e6;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #5e81b9;
            color: #fff;
            text-align: center;
           padding: 18px;
            height: 58px;
        
            
        }

        main {
            padding: 40px;
        }

    
        .footer{
            color: #fff;
        }
    </style>
</head>
<body>
    <header>

    </header>

    <main class="container">
        <!-- Message Area -->
        <% if(messages.length > 0) {%>
            <div class="alert alert-danger">
                <%= messages %>
            </div>
        <% } %>
        <div class="row">
            <div class="offset-md-4 col-md-4 text-white">
                <div class="login-form-wrapper" style="background-color: white; box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.2); color: black;padding: 10px 10px 10px 10px; height: 500px; width: 400px;"> <!-- Added border and box-shadow style -->
                    <h1> Login</h1>
                    <img src="Assets/images/039b004617d1ef43cf1769aae45d6ea2.png" alt="Logo" class="logo" height="170" width="200" style="margin-left: 80px;">
                    <form method="POST" autocomplete="off">
                        <fieldset class="form-group">
                            <label for="username">Username: </label>
                            <input type="text" class="form-control"
                            name="username" placeholder="Enter username"
                            id="username" required autofocus>
                        </fieldset>
    
                        <fieldset class="form-group">
                            <label for="password">Password: </label>
                            <input type="password" class="form-control"
                            name="password" placeholder="Enter password"
                            id="password" required>
                        </fieldset>
    
                        <fieldset class="form-group text-right">
                            <input type="submit" class="btn btn-success" value="Login">
                            <a href="/">
                                <input type="button" class="btn btn-warning" value="Cancel">
                            </a>
                        </fieldset>
                    </form>
                </div> <!-- Closing div wrapper -->
            </div>
        </div>
    
    </main>
  

<footer class="footer mt-auto py-2 fixed-bottom" style="background-color:rgb(52,58,64)">
	<%- include ../partials/bottom_nav.ejs %>  

        <%- include ../partials/footer%>
    </footer>
</html>

